<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
  
        <div>
          Usuarios Dependencia
          <div
            class="page-title-subheading">
            Agregar / Editar
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <button type="button" (click)="Volver()" class="btn-shadow d-inline-flex align-items-center btn btn-dark">
          Volver
        </button>
      </div>
    </div>
  </div>
  
   
  <div class="card-body">
    <form>
      
      <div class="row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="exampleInputUsername1">Usuario Hijo</label>
            <select [(ngModel)]="obj.IdUsuarioHijo" name="IdUsuarioHijo" class="form-select form-control">
                <option *ngFor="let objU of usuarios"  [ngValue]="objU.IdUsuario">{{objU.Apellido}} {{objU.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="exampleInputUsername1">Usuario Padre</label>
            <select [(ngModel)]="obj.IdUsuarioPadre" name="IdUsuarioPadre" class="form-select form-control">
                <option *ngFor="let objU of usuarios"  [ngValue]="objU.IdUsuario">{{objU.Apellido}} {{objU.Nombre}}</option>
            </select>
          </div>
        </div>
      </div>
        
      
      
      <button class="mt-2 btn btn-success" (click)="Guardar()">Guardar cambios</button>
    </form>
  </div>