<div [class]="'app-sidebar sidebar-shadow '" >
  <div class="app-header__logo">
    <div >
        <a [routerLink]="'/'">VIÁTICOS</a>
    </div>
    <div class="header__pane ms-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : true}">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header">Gestión viaticos</div>
            
            <div class="vsm-link"(click)="isCollapsed = ! isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <i class="vsm-icon pe-7s-browser"></i> Solicitudes 
            </div>
            <div class="vsm-dropdown collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" >
              <div class="vsm-list">
                <div class="vsm-item">
                  <a [routerLink]="'usuariosDependencia'" routerLinkActive="active-item"[routerLinkActiveOptions]="{exact: true}" class="vsm-link"> 
                    <span class="vsm-title">Usuarios Dependencia</span>
                  </a>
                </div>
                <div class="vsm-item">
                  <a [routerLink]="'hoteles'" routerLinkActive="active-item"[routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                    <span class="vsm-title">Hoteles</span>
                  </a>
                </div>
              </div>
            </div>
              
            <div class="vsm-link"(click)="isCollapsed = ! isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <i class="vsm-icon pe-7s-browser"></i> Configuración 
            </div>
            <div class="vsm-dropdown collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" >
              <div class="vsm-list">
                <div class="vsm-item">
                  <a [routerLink]="'categorias'" routerLinkActive="active-item"[routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                    
                    <span class="vsm-title">Categorías</span>
                  </a>
                </div>
                <div class="vsm-item">
                  <a [routerLink]="'perfiles'" routerLinkActive="active-item"[routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                    
                    <span class="vsm-title">Perfiles</span>
                  </a>
                </div>
                <div class="vsm-item">
                  <a [routerLink]="'ubicaciones'" routerLinkActive="active-item"[routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                    
                    <span class="vsm-title">Ubicaciones</span>
                  </a>
                </div>
              </div>
            </div>

            
              
           
            <div class="vsm-item itemsalir">
              <a (click)="Salir()" role="button"  class="vsm-link">
                <i class="vsm-icon pe-7s-browser"></i>
                <span class="vsm-title">Salir</span>
              </a>
            </div>
            
          </div>
         
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
