<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
  
        <div>
          Hoteles
          <div
            class="page-title-subheading">
            Agregar / Editar
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <button type="button" (click)="Volver()" class="btn-shadow d-inline-flex align-items-center btn btn-dark">
          Volver
        </button>
      </div>
    </div>
  </div>
  
<div class="card-body">
  <form>

  <div class="row">
    <div class="col-md-12">
      <div class="position-relative form-group mt-2">
        <label for="exampleEmail11">Nombre</label>
        <input type="text" [(ngModel)]="obj.Nombre" name="Nombre" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="position-relative form-group mt-2">
        <label for="exampleEmail11">Teléfono</label>
        <input type="text" [(ngModel)]="obj.Telefono" name="Telefono" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="position-relative form-group mt-2">
        <label for="exampleEmail11">Email</label>
        <input type="text" [(ngModel)]="obj.Email" name="Email" class="form-control">
     </div>
   </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="position-relative form-group mt-2">
        <label for="exampleEmail11">Ubicación</label>
        <select [(ngModel)]="obj.IdUbicacion" name="IdUbicacion" class="form-select form-control">
          <option *ngFor="let objU of ubicaciones"  [ngValue]="objU.IdUbicacion">{{objU.Nombre}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="position-relative form-group mt-2">
        <label for="exampleEmail11">Dirección</label>
        <input type="text" [(ngModel)]="obj.Direccion" name="Direccion" class="form-control">
      </div>
    </div>
  </div>
      
     
     
  
   
      
    <button class="mt-2 btn btn-success" (click)="Guardar()">Guardar cambios</button>
  </form>
</div>
